@import "tailwindcss";

@theme{
  --color-shoplytics-bg: #f8fafc;
  --color-shoplytics-surface: #ffffff;
  --color-shoplytics-primary: #059669;
  --color-shoplytics-primaryHover: #047857;
  --color-shoplytics-textMain: #0f172a;
  --color-shoplytics-textMuted: #64748b;
  --color-shoplytics-footerBg: #0b0f19;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}